/unity/*
!/unity/**/*.py
/venv/*
/venv/
/data/*
!/data/shape_predictor_68_face_landmarks.dat
!/data/game_words.txt

# キャッシュファイルをすべて無効化
*.cache
*.pyc
*.pyo
__pycache__/
.cache/
.cache
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.bak